@{
    ViewData["Title"] = "Privacidade";
}
<h2>@ViewData["Title"]</h2>

<p>Este site não coleta informações.</p>
<p>As informações aqui apresentadas são ficticias e utilizadas com propósito academico.</p>
